---
layout: default
title: The Van Doorslaer lab at the University of Arizona
redirect_from:
  - http://vandoorslaer.cals.arizona.edu
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
      <h3>Using -omics to study the evolution of <span style="color: #3484B1;"> papillomavirus</span> disease</h3>
      <p>The red queen hypothesis implies that the arms-race between host and parasite results in an uneasy balance. 
      Many persistent viruses have co-evolved along-side their hosts for millions of years. Many persistent infections are considered commensal, and typically do not
      cause overt disease in the host.
      We are fascinated by the fact that many clinically relevant infections violate this paradigm.
      Specifically, we want to understand why a handful of human papillomavirus types are associated with cancer,
      while closely related viruses appear inconspicuous.
    
		Papillomaviruses have evolved to usurp the cellular machinery to complete their life-cycle. This requires that the viral genome is maintained in actively dividing cells.
    Remarkebly, persistent infection, not incident infections, are the main risk factor for the development of human papillomavirus induced cancers. Since malignant transformation
    does not provide the virus with a selective advantage, we believe that the continued insult provided by replicating viruses eventually results 
		in malignant transformation of the infected cell.  
		We use cutting-edge technologies and approaches to elucidate which viral phenotypes are associated with oncogenic progression. 
		The pathways targeted by these viruses may represent powerful targets for therapeutic intervention.</p>
    </div>
  </div>
