---
layout: default
title: The Van Doorslaer lab at the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
    
<h3>The KVD lab in the Media</h3>
	



<table>
  <tr>
    <td><a target="_blank" href="/images/media/2017v03i02_newsletter.pdf" download> <img style="vertical-align:middle" src="/images/media/page2.jpg" alt="stack" width="320" height="414"> </a></td>
    <td>  <span style="vertical-align:middle"><strong>ACBS Newsletter</strong> Jayme and Gabby (fantastic high school student) were featured in the School of Animal and Comparative Biomedical Sciences newsletter (Volume 3 Issue 1 Spring)
	<a href="https://acbs.cals.arizona.edu/about/newsletter"> (Source)</a>.</span></td>

  </tr>
  
</table>


<div>
  

</div>








 
</div>
 