---
layout: default
title: The Van Doorslaer lab at the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
    
<h3>The KVD lab in the Media</h3>
	



<table>

  <tr>
	  
    <td><a target="_blank" href="/images/media/2017v03i02_newsletter.pdf" download> <img style="vertical-align:middle" src="/images/media/page2.jpg" alt="stack" width="320" height="414"> </a></td>
    <td>  <span style="vertical-align:middle"><strong>ACBS Newsletter</strong> Jayme and Gabby (fantastic high school student) were featured in the School of Animal and Comparative Biomedical Sciences newsletter (Volume 3 Issue 1 Spring)
	<a href="https://acbs.cals.arizona.edu/about/newsletter"> (Source)</a>.</span></td>


</tr>
</table>
	
<p>
<b>How worried should you be about monkeypox? We asked some Arizona experts.</b><br>
<a target="_blank" href ="https://www.azcentral.com/story/news/local/arizona-science/2022/05/21/monkeypox-spreading-several-countries-what-we-know-so-far/9864669002/">AZ Central</a>
 | 
<a target="_blank" href ="https://exbulletin.com/world/health/1635939/">ExBulletin</a>
</p>
	  
<p>	  
<b>He wasn't a smoker, but still got throat cancer. The cause? A virus that could've been in his body for decades.</b><br>
<a target="_blank" href ="https://www.usatoday.com/in-depth/news/health/2022/05/23/human-papillomavirus-research-may-help-lead-cancer-immunotherapy/9766207002/">USA Today</a>
 | 
<a target="_blank" href ="https://www.azcentral.com/in-depth/news/local/arizona-science/2022/05/05/human-papillomavirus-research-may-help-lead-cancer-immunotherapy/9464171002/">AZ Central</a>
</p>

<p>
<b>FACT FINDERS: How Merck’s COVID Pill Works.</b><br>
<a target="_blank" href ="https://www.kold.com/2021/10/12/fact-finders-how-mercks-covid-pill-works/">KOLD13 (article and video)</a>
</p>

<p>
<b>UArizona professors rank most effective masks to protect against COVID-19.</b><br>
<a target="_blank" href ="https://www.kvoa.com/coronavirus/uarizona-professors-rank-most-effective-masks-to-protect-against-covid-19/article_28e78dc1-b133-5d62-9a1e-b3434781275a.html">KVOA news4 Tucson (article and video)</a>
</p>


<p>
<b>UA assistant professors testing thousands of drugs against COVID-19.</b><br>
<a target="_blank" href ="https://www.kold.com/video/2020/06/10/ua-assistant-professors-testing-thousands-drugs-against-covid-/">KOLD13 (article and video)</a>
</p>

	
	
	

	
	
  




 
