---
layout: default
title: The Van Doorslaer lab @ the University of Arizona
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
      	<h3>Join Us in Tucson!</h3>
      	<h4>Lab culture</h4>
      	<p>The most exciting aspect of setting up a lab is the ability to define the lab culture. 
      	It is my goal to establish a group of individuals who are passionate about <b>virology,
      	cancer biology and/or evolution</b> and who are willing to teach and learn from
      	their peers. I want &quot;wet lab&quot; and &quot;computational&quot; scientists to talk and challenge
      	each other to ultimately push the boundaries of our science. I want everyone in
      	my lab to thrive and believe this is achieved by working together as a team!</p>

		<p>I am new to the <a href="https://twitter.com/hashtag/pilife">#PIlife</a>, but I have been in and around labs for
		a long time. Managing scientists with different career goals at different
		career stages is challenging. I have seen approaches that work and some that do
		not. There are no one-size-fits-all solutions, but together with you, I will do
		my best to help you be successful both in and outside the lab. The key to
		creating a productive lab environment is good work-life balance. Within reason,
		the numbers of hours spend in the lab are meaningless, progress made towards
		our shared goals is what really matters.</p>

		<p>If you are interested in joining our group, please feel free to e-mail me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer
		AT email D0T Arizona D0T edu</a>). </p>

		<h4>Postdoctoral opportunities</h4>
		<p>I am excited to have postdocs join us. There are many reasons that a post-doc is the best time 
		of your scientific life. You have the ability to focus on science and start 
		solidifying your research interests without worrying about administrative 
		and/or financial concerns. I hope that you will find the experience in my lab equally rewarding.</p>

		<p>I am always interested in innovative and creative ideas. The ability to have an independent project will make 
		you very competitive at the next stage of your career. As long as these projects are not decimating the budget or 
		completely deviate from the lab&#39;s interests, I expect you to develop these ideas. Please know that I
		want to be part of this process, and will help wherever I can.</p>

		<p>If you are interested, please contact me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer AT email D0T Arizona D0T edu</a>).
		Ideally, the first interactions will happen well before relevant postdoc grant deadlines. 
		As you can imagine, I get a lot of random emails for positions in my lab. If you are interested, show me. 
		Why are you interested? Did you like a paper, a talk? Get me excited about you, and I will get back to you!</p>
    </div>
  </div>
