---
layout: default
title: The Van Doorslaer lab at the University of Arizona
permalink: /opportunities
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
<h3><a id="Join_Us_in_Tucson_0"></a>Join Us in Tucson!</h3>
<h4><a id="Lab_culture_2"></a>Lab culture</h4>
<p>It is my goal to establish a group of individuals who are passionate about <strong>virology, cancer biology and/or evolution</strong> and who are willing to teach and learn from their peers. I expect "wet lab" and "computational" scientists to talk and challenge each other to ultimately push the boundaries of our science. I want everyone in my lab to thrive and believe this is achieved by working together as a team!</p>
<p>I have seen approaches that work and some that do not. There are no one-size-fits-all solutions, but together with you, I will do my best to help you be successful both in and outside the lab. The key to creating a productive lab environment is good work-life balance. Within reason, the numbers of hours spend in the lab are meaningless, progress made towards our shared goals is what really matters.</p>
<p>If you are interested in joining our group, please feel free to e-mail me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer AT email D0T Arizona D0T edu</a>).</p>

<h4><a id="Postdoctoral_Researchers"></a>Postdoctoral Researchers</h4>
<p>I am always interested in talking to postdoctoral candidates with backgrounds in virology, immunology, molecular evolution, or computational biology. If you have your own research interests that connect to the questions we ask in the lab, I want to hear about them; a strong postdoc project usually grows out of genuine overlap between what you want to work on and what we are already doing, not the other way around.</p>
<p>Beyond the science, I see the postdoc years as preparation for whatever comes next, whether that is an independent faculty position, industry, or something else entirely. I will support you in pursuing fellowships and career-development awards (K99/R00, F32, and similar mechanisms) and in building the record you need for the position you actually want.</p>
<p>If you are interested, please send me your CV, a brief statement of your research interests, and contact information for three references (<a href="mailto:vandoorslaer@arizona.edu">vandoorslaer AT Arizona D0T edu</a>).</p>

<h4><a id="Graduate_students_33"></a>Graduate students</h4>
<p>I am going to assume that you know what getting a PhD entails, and that you have decided that you love science so much that you are ready for the 4-6 year process. If so, the next set of questions might help in deciding whether my lab is the right place for you.</p>

<p>We are always on the look-out for students that are excited to join our group, please <a href="mailto:vandoorslaer@email.arizona.edu">reach out to me</a> if you are interested in my lab. I look forward to reading about why you think my lab is the place that will allow you to maximize your potential. I will support you in applying for funding mechanisms such as the NIH F30/F31 and T32 training grants once you join the lab.</p>
<p>I am a faculty member in the <a href="https://immunobiology.arizona.edu">Immunobiology Department</a>. I am the chair of the <a href="https://gidp.arizona.edu/CBIO">Cancer Biology</a> Graduate Interdisciplinary Degree Programs (GIDP) and a member of the <a href="https://gidp.arizona.edu/genetics">Genetics</a> GIDP. Students can apply directly to the individual programs, or to the <a href="https://abbs.arizona.edu/">umbrella Arizona Biological and Biomedical Sciences (ABBS)</a> program.</p>

<h4><a id="Undergraduate_Research_47"></a>Undergraduate Research</h4>
<p>Do you like microbiology, evolution, and/or cell biology? Not sure that bench research is your <em>thing</em>?
I am looking forward to have undergraduate researchers in the lab. If you are curious, eager to learn, and willing to be a <em>true</em> part of the lab I am happy to have you join the lab. <br>
Existing projects in the lab are centered around understanding the role of the normal viral lifecycle during oncogenic progression. In addition, several viral discovery opportunities exist.
Depending on what you are looking for, you can join an existing project or we can try to develop your own. You can join as either volunteers, or take research credits (your academic advisor will be able to help you with this). </p>

<p>If you are interested, please contact me (<a href="mailto:vandoorslaer@arizona.edu">vandoorslaer AT Arizona D0T edu</a>). Show me that you are excited about science and my lab, and I will get back to you! <a href="http://www.webguru.neu.edu">WebGURU</a> is a great resource for anything Undergrad Research related. Be sure to check their section on <a href="http://www.webguru.neu.edu/undergraduate-research/research-funding/possible-funding-sources">funding</a>. The <a href="https://ubrp.arizona.edu/">Undergraduate Biology Research Program (UBRP)</a> at the University of AZ provides fellowships.</p>

    </div>
  </div>
</div>
