---
layout: default
title: The Van Doorslaer lab @ the University of Arizona
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
<h3><a id="Join_Us_in_Tucson_0"></a>Join Us in Tucson!</h3>
<h4><a id="Lab_culture_2"></a>Lab culture</h4>
<p>The most exciting aspect of setting up a lab is the ability to define the lab culture. It is my goal to establish a group of individuals who are passionate about <strong>virology, cancer biology and/or evolution</strong> and who are willing to teach and learn from their peers. I expect “wet lab” and “computational” scientists to talk and challenge each other to ultimately push the boundaries of our science. I want everyone in my lab to thrive and believe this is achieved by working together as a team!</p>
<p>I am new to the <a href="https://twitter.com/hashtag/pilife">#PIlife</a>, but I have been in and around labs for a long time. Managing scientists with different career goals at different career stages is challenging. I have seen approaches that work and some that do not. There are no one-size-fits-all solutions, but together with you, I will do my best to help you be successful both in and outside the lab. The key to creating a productive lab environment is good work-life balance. Within reason, the numbers of hours spend in the lab are meaningless, progress made towards our shared goals is what really matters.</p>
<p>If you are interested in joining our group, please feel free to e-mail me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer AT email D0T Arizona D0T edu</a>).</p>
<h4><a id="Research_Technician_10"></a>Research Technician</h4>
<p>I am actively recruiting a technician for the lab. As a founding member of the lab, the successful candidate will be instrumental in establishing the lab. I am looking for a person who is excited about research, and -ideally- has a couple of years of experience. I would love if you wanted to have your own project, but this is certainly not required for the position.</p>
<p><strong>Duties and Responsibilities</strong></p>
<ul>
<li>Performs scientific data collection and analysis involving routine procedures</li>
<li>Conducts experiments using a variety of well-established protocols.</li>
<li>Maintains comprehensive records, including preliminary conclusions</li>
<li>Communicates research progress and issues</li>
<li>Operates laboratory and experimental equipment</li>
<li>Assists with regulatory compliance</li>
<li>Assists with training of students</li>
</ul>
<p>The official job description is <a href="http://uacareers.com/postings/13956">here</a>, but feel free to <a href="mailto:vandoorslaer@email.arizona.edu">contact me</a> if you are interested!</p>
<h4><a id="Postdoctoral_opportunities_26"></a>Postdoctoral opportunities</h4>
<p>I am excited to have postdocs join us. There are many reasons that a post-doc is the best time of your scientific life. You have the ability to focus on science and start solidifying your research interests without worrying about administrative and/or financial concerns. I hope that you will find the experience in my lab equally rewarding.</p>
<p>I am currently recruiting to hire a post-doctoral candidate (<a href="post_doc_2016.html">add</a>).</p>
<p>I am always interested in innovative and creative ideas. The ability to have an independent project will make you very competitive at the next stage of your career. As long as these projects are not decimating the budget or completely deviate from the lab’s interests, I expect you to develop these ideas. Please know that I want to be part of this process, and will help wherever I can.</p>
<p>If you are interested, please contact me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer AT email D0T Arizona D0T edu</a>). Ideally, the first interactions will happen well before relevant postdoc grant deadlines. As you can imagine, I get a lot of random emails for positions in my lab. If you are interested, show me. Why are you interested? Did you like a paper, a talk? Get me excited about you, and I will get back to you!</p>
<h4><a id="Graduate_students_33"></a>Graduate students</h4>
<p>I am going to assume that you know what getting a PhD entails, and that you have decided that you love science so much that you are ready for the 4-6 year process. If so, the next set of questions might help in deciding whether my lab is the right place for you.</p>
<ul>
<li>Do you think you will thrive in a collaborative lab (see lab culture above)? </li>
<li>Do you agree that <a href="https://en.wikipedia.org/wiki/Nothing_in_Biology_Makes_Sense_Except_in_the_Light_of_Evolution"><em>“nothing in biology makes sense except in the light of evolution”</em></a>?</li>
<li>Do you like computers (but have a healthy mistrust of them)?</li>
<li>Are you and math at least friendly?</li>
<li>Are you willing to spend much of the next 5 years looking at sequence alignments and phylogenetic trees?</li>
<li>Are you excited about combining primary cell culture with several <em>-omics</em> approaches?</li>
<li>Are you not afraid to step outside of your comfort zone?</li>
<li>Have you read any of my papers? Still awake?</li>

</ul>
<p>I am always on the look-out for motivated students to join my group, please <a href="mailto:vandoorslaer@email.arizona.edu">reach out to me</a> if you are interested in my lab. I look forward to reading about why you think my lab is the place that will allow you to maximize your potential.</p>
<p>I can take qualified students as Graduate Teaching Assistants. In addition, there are several fellowships available for students. Having your own money is never a bad thing!</p>
<h4><a id="Undergraduate_Research_47"></a>Undergraduate Research</h4>
<p>Do you like microbiology, evolution, and/or cell biology? Not sure that bench research is your <em>thing</em>? I am looking forward to have undergraduate researchers in the lab. If you are curious, eager to learn, and willing to be a <em>true</em> part of the lab I am happy to have you join the lab. Depending on what you are looking for, you can join an existing project or we can try to develop your own. You can join as either volunteers, summer research, or take research credits (your academic advisor will be able to help you with this). Students interested in developing computational tools for <a href="https://pave.niaid.nih.gov/">the Papillomavirus Episteme (PaVE)</a> are encouraged to contact me.</p>
<p>If you are interested, please contact me (<a href="mailto:vandoorslaer@email.arizona.edu">vandoorslaer AT email D0T Arizona D0T edu</a>). Show me that you are excited about science and my lab, and I will get back to you! <a href="http://www.webguru.neu.edu">WebGURU</a> is a great resource for anything Undergrad Research related. Be sure to check their section on <a href="http://www.webguru.neu.edu/undergraduate-research/research-funding/possible-funding-sources">funding</a>. The <a href="https://ubrp.arizona.edu/">Undergraduate Biology Research Program (UBRP)</a> at the University of AZ provides fellowships.</p>

    </div>
  </div>
