---
layout: default
title: The Van Doorslaer lab at the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content", style="margin: 0 auto;">

<h3>We study why persistent viruses cause cancer.</h3>
<br>
<img class="normal" src="/images/people/escape_2017.jpg" style="width:730px" alt="lab after escape room"/>


<br><br><br>


<table cellspacing="0" cellpadding="10">
   <tr>
    	<td align="center"><img src="/images/people/KVD2.jpg" alt="stack" width="160" height="200"></td>
    	<td align="center"><img src="/images/people/Kelly.jpg" alt="stack" width="217.0115" height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Koenraad Van Doorslaer, PhD</strong><br><strong>Principal Investigator</strong><br>
		<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=van-doorslaer-k" target="_blank">Publications</a> | <a href="mailto:vandoorslaer@email.arizona.edu">Email</a> | <a target="_blank" href="/images/media/2017v03i02_newsletter.pdf" download> resume</a> 

		</td>
    	<td align="center">
    	<p><strong>Kelly King</strong><br><strong>Research Technician</strong><br>
		<a href="mailto:vandoorslaer@email.arizona.edu">Email</a> 
		</td>
	</tr>   


   <tr>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width="200" height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width="200" height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Jana Jandova, PhD</strong><br><strong>Research Associate</strong><br>
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=jana+jandova" target="_blank">Publications</a> | <a href="mailto:jjandova@email.arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Qianying He</strong><br><strong>Graduate student</strong><br>
		<a href="mailto:qhe0310@email.arizona.edu">Email</a> 

		</td>
	</tr> 





   <tr>
    	<td align="center"><img src="/images/people/Jayme.jpg" alt="stack" width="200" height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width="200" height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Jayme Jackson</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:jaymejackson@email.arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Emma Paunil</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:epaunil@email.arizona.edu">Email</a> 

		</td>
	</tr> 



   <tr>
    	<td align="center"><img src="/images/people/Melissa.jpg" alt="stack" width="227.5556" height="200"></td>
    	<td align="center"><img src="/images/people/Kayleigh.jpg" alt="stack" width="132.9591" height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Melissa Bergeman</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:melayres@email.arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Kayleigh Berthiaume</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:kberthiaume@email.arizona.edu">Email</a> 

		</td>
	</tr>





   <tr>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width="200" height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width="200" height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Josh Pace</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:jspace@email.arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Lauren Herrmann</strong><br><br>
		<a href="mailto:lrnherrmann@email.arizona.edu">Email</a> 

		</td>
	</tr>





</table>



    
</div>
	
	



</div>  

