---
layout: default
title: The Van Doorslaer lab at the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content", style="margin: 0 auto;">

<h3>We study why persistent viruses cause cancer.</h3>
<br>
<img class="normal" src="/images/people/group.jpeg" style="width:730px" alt="lab celebrating the first R01"/>


<br><br><br>


<table cellspacing="0" cellpadding="10">
   <tr>
    	<td align="center"><img src="/images/people/KVD2.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/Kelly.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Koenraad Van Doorslaer, PhD</strong><br><strong>Principal Investigator</strong><br>
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Van-Doorsaler-k+OR+doorslaer-kv+OR+van-doorslaer-k" target="_blank">Publications</a> | <a href="mailto:vandoorslaer@arizona.edu">Email</a> | <a target="_blank" href="resume-online.pdf" download> Resume</a> 
    <p align="justify">Dr. Van Doorslaer received his BS and MS from the University of Leuven, Belgium. He left the land of beer and chocolate to pursue a Ph.D. in the lab of Dr. Robert Burk, at the Albert Einstein College of Medicine in New York. For his post-doctoral work, he joined the lab of Dr. McBride located within the National Institute of Allergy and Infectious Disease at the NIH.
Dr. Van Doorslaer recently joined the faculty of the School of Animal and Comparative Biomedical Sciences at the University of Arizona. His current research combines thorough evolutionary analysis with state-of-the-art molecular techniques to understand why certain DNA viruses are oncogenic. His lab is particularly interested in a subset of human oncogenic papillomaviruses.</p>
		</td>
    	<td align="center">
    	<p><strong>Kelly King</strong><br><strong>Research Specialist</strong><br>
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=King-km van-doorslaer " target="_blank">Publications</a> | <a href="mailto:vandoorslaer@arizona.edu">Email</a> 
		</td>
	</tr>   


   <tr>
    	<td align="center"><img src="/images/people/Rob.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Rob Jackson, PhD</strong><br><strong>Research Associate</strong><br>
		<a href="https://scholar.google.com/citations?user=2SDxHbMAAAAJ&hl" target="_blank">Publications</a> | <a href="mailto:robjackson@arizona.edu">Email</a>
    <p align="justify">Rob is recent PhD graduate from Thunder Bay, Ontario. In the lab, he seeks to understand the molecular basis for papillomavirus-related cancers using lab-grown 3D epithelial tissues, high-throughput sequencing techniques, and bioinformatics. Outside the lab, he is a sci-fi and space nerd.</p>

		</td>
    	<td align="center">
		<p><strong>David Williams</strong><br><strong>MD/PhD student</strong><br>
		<a href="mailto:dejwilliams@arizona.edu">Email</a> 

		</td>
	</tr> 


   <tr>
    	<td align="center"><img src="/images/people/Issy.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/Amy.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Isabel (Issy) Tobey</strong><br><strong>Cancer Biology GIDP graduate student </strong><br>
		<a href="mailto:itobey@arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Amy M. Banka </strong><br><strong>Microbiology Graduate Student</strong><br>
		<a href="mailto:abanka@arizona.edu">Email</a> 
    <p align="justify"></p>
		</td>
	</tr> 


   <tr>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Esha V. Rajadhyaksha</strong><br><strong>Undergraduate Researcher </strong><br>
		<a href="mailto:arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Reid S. Loeffler </strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:reidloeffler@arizona.edu">Email</a> 
    <p align="justify"></p>
		</td>
	</tr> 



   <tr>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Sophia Ragonese</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:sragonese@arizona.edu">Email</a> 
    <p align="justify"></p>
		</td>

	</tr>
</table>



    
</div>
	
<h4><a id="KVD Lab alumni"></a>KVD Lab alumni</h4>	
<ul>
<li>Jana Jandova, PhD </li>
<li>Jayme Jackson (undergraduate researcher) - currently graduate student at Berkley</li>
<li>Qianying He (Masters student)</li>
<li>Emma Paulin (undergraduate researcher) </li>
<li>Kayleigh Berthiaume (undergraduate researcher) - currently MD/PhD student at UofA/li>
<li>Alyssa Alsvig (undergraduate researcher) </li>
<li>Josh Pace (undergraduate researcher) - currently PhD student at Northeastern University</li>
<li>Lauren Herrmann (Masters student) - currently PhD student at UofA </li>
<li>Melissa Bergeman (undergraduate researcher) - currently Graduate student at ASU </li>
<li>Caitlyn Flores (undergraduate researcher) - currently undergraduate student at UofA</li>
<li>Gabrielle Russell <li>Michelle M. Kim <a href="https://bio5.org/impact/engaging-students/keys-research-internship-program" target="_blank">(KEYS high school student)</a> - currently undergraduate student at UofA </li>
<li>Michelle M. Kim <a href="https://bio5.org/impact/engaging-students/keys-research-internship-program" target="_blank">(KEYS high school student)</a></li>
<li>Katie Mendiola <a href="NSURP.org" target="_blank">NSURP student</a></li>
<li>Yanely I. Bolanos <a href="NSURP.org" target="_blank">NSURP student</a></li>
<li>Andres Rodrigues <a href="NSURP.org" target="_blank">NSURP student</a></li>

</div>  

