---
layout: default
title: The Van Doorslaer lab at the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content", style="margin: 0 auto;">

<h3>We study why persistent viruses cause cancer.</h3>
<br>
<img class="normal" src="/images/people/escape_2017.jpg" style="width:730px" alt="lab after escape room"/>


<br><br><br>


<table cellspacing="0" cellpadding="10">
   <tr>
    	<td align="center"><img src="/images/people/KVD2.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/Kelly.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Koenraad Van Doorslaer, PhD</strong><br><strong>Principal Investigator</strong><br>
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Van-Doorsaler-k+OR+doorslaer-kv+OR+van-doorslaer-k" target="_blank">Publications</a> | <a href="mailto:vandoorslaer@email.arizona.edu">Email</a> | <a target="_blank" href="resume-online.pdf" download> Resume</a> 
    <p align="justify">Dr. Van Doorslaer received his BS and MS from the University of Leuven, Belgium. He left the land of beer and chocolate to pursue a Ph.D. in the lab of Dr. Robert Burk, at the Albert Einstein College of Medicine in New York. For his post-doctoral work, he joined the lab of Dr. McBride located within the National Institute of Allergy and Infectious Disease at the NIH.
Dr. Van Doorslaer recently joined the faculty of the School of Animal and Comparative Biomedical Sciences at the University of Arizona. His current research combines thorough evolutionary analysis with state-of-the-art molecular techniques to understand why certain DNA viruses are oncogenic. His lab is particularly interested in a subset of human oncogenic papillomaviruses.</p>
		</td>
    	<td align="center">
    	<p><strong>Kelly King</strong><br><strong>Research Specialist</strong><br>
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=King-km van-doorslaer " target="_blank">Publications</a> | <a href="mailto:vandoorslaer@email.arizona.edu">Email</a> 
		</td>
	</tr>   


   <tr>
    	<td align="center"><img src="/images/people/Rob.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/KVD.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Rob Jackson, PhD</strong><br><strong>Research Associate</strong><br>
		<a href="https://scholar.google.com/citations?user=2SDxHbMAAAAJ&hl" target="_blank">Publications</a> | <a href="mailto:robjackson@email.arizona.edu">Email</a>
    <p align="justify">Rob is recent PhD graduate from Thunder Bay, Ontario. In the lab, he seeks to understand the molecular basis for papillomavirus-related cancers using lab-grown 3D epithelial tissues, high-throughput sequencing techniques, and bioinformatics. Outside the lab, he is a sci-fi and space nerd.</p>

		</td>
    	<td align="center">
		<p><strong>David Williams</strong><br><strong>MD/PhD student</strong><br>
		<a href="mailto:dejwilliams@email.arizona.edu">Email</a> 

		</td>
	</tr> 


   <tr>
    	<td align="center"><img src="/images/people/Jayme.jpg" alt="stack" width=auto height="200"></td>
    	<td align="center"><img src="/images/people/Lauren.png" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Jayme Jackson</strong><br><strong>MARC Undergraduate Researcher</strong><br>
		<a href="mailto:jaymejackson@email.arizona.edu">Email</a> 

		</td>
    	<td align="center">
		<p><strong>Lauren Herrmann </strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:lrnherrmann@email.arizona.edu">Email</a> 
    <p align="justify">Lauren Herrmann is an undergraduate senior enrolled in the Accelerated Masters Program for Molecular & Cellular Biology. She is on track to graduate with her Bachelor's in May 2020 and begin the Master's portion of the program in the Fall. Currently, she is studying the effect of HPV E1 and E2 on the efficiency of viral packaging for the topic of her Honors Thesis. Outside of the lab, Lauren enjoys video games, MTG, and spending time with her two geckos and parakeet, Moony.</p>
		</td>
	</tr> 



   <tr>
    	<td align="center"><img src="/images/people/Josh.jpg" alt="stack" width=auto height="200"></td>
   </tr>

	<tr>
    	<td align="center">
    	<p><strong>Josh Pace</strong><br><strong>Undergraduate Researcher</strong><br>
		<a href="mailto:jspace@email.arizona.edu">Email</a> 
    <p align="justify">Josh is an undergraduate engineering student who is interested in bioinformatics and electronic medical devices. In the lab, he develops genome annotation software and helps maintain PaVE. Outside the lab he is enjoys playing soccer, watching sports and learning more about any type of science. </p>
		</td>

	</tr>
</table>



    
</div>
	
<h4><a id="KVD Lab alumni"></a>KVD Lab alumni</h4>	
<ul>
<li>Jana Jandova, PhD </li>
<li>Qianying He (Masters student)</li>
<li>Emma Paulin (undergraduate researcher) </li>
<li>Kayleigh Berthiaume (undergraduate researcher)</li>
<li>Alyssa Alsvig (undergraduate researcher) </li>
<li>Melissa Bergeman (undergraduate researcher) - currently Graduate student at ASU </li>
<li>Gabrielle Russell (KEYS high school students) - currenlty undergraduate student at UofA </li>

</div>  

