---
layout: default
title: The Van Doorslaer lab @ the University of Arizona
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
<h3><a id="The_Van_Doorslaer_lab_at_the_University_of_Arizona_is_hiring_a_postdoctoral_fellow_0"></a>The Van Doorslaer lab at the University of Arizona is hiring a post-doctoral fellow</h3>
<h4><a id="What_do_we_do_1"></a>What do we do?</h4>
<p>We are interested in genotype-phenotype link, and we believe that evolution holds the key to understanding the pathways underlying this connection.  Specifically, we are interested in uncovering cellular pathways manipulated by (oncogenic) viruses. Our lab combines cutting edge molecular techniques with thorough evolutionary analysis, to identify candidate pathways.</p>
<h4><a id="What_will_you_get_to_do_3"></a>What will you get to do?</h4>
<p>As one of the first members of the lab you will have the ability to help shape the future of the research program. Depending on your interest and experience, you can help lead the molecular effort, develop computational tools or straddle <em>in vivo</em> and <em>in silico</em> work. Within the scope of the lab’s research focus, you will be given the freedom to work on your best ideas. The lab is located in the Keating Research Building, which houses <a href="www.bio5.org">the BIO5 institute</a>. We share open lab space with Dr. Rod Wing, who runs <a href="http://www.genome.arizona.edu/">The Arizona Genomics Institute</a>. Membership in the Bio5 institute facilitates extensive collaborations with other researchers.</p>
<h4><a id="What_to_expect_5"></a>What to expect?</h4>
<p>Above all we offer a fun, supportive, and highly collaborative environment. The lab is located in a state-of-the-art building, which includes individual cubicles for students and post-docs.
Salaries will be based on the NIH scale, but you already knew that this gig wasn’t going to make you rich. Right? Life in Tucson is relatively cheap, so the money will go a bit further here.
<br>I am committed to being a strong advocate for your interests. I want to help you maximize your potential as a scientist and a human. No matter what, you will always find me to be a sounding board for ideas, opportunities, and challenges.</p>
<h4><a id="What_is_expected_of_you_9"></a>What is expected of you?</h4>
<p>In addition to excelent communication skills, I expect you to be able to be self-motivated and drive your ideas to completion. You should be able to give/take constructive criticism. Also, you will be required to help teach the other members of the group the tricks you picked up along the way. You will be encouraged to apply for fellowships to support your research.</p>
<h4><a id="What_is_absolutely_required_11"></a>What is absolutely required?</h4>
<p>In addition to a recent PhD in a related field (Microbiology, cell biology, evolution, etc.), agreeing that “nothing in biology makes sense except in the light of evolution”[1] is absolutely essential.</p>
<h4><a id="How_to_apply_13"></a>How to apply?</h4>
<p>The official add will be out soon, but in the meantime feel free to contact me directly!</p>
<p>[1]: Read more about this quote by <a href="https://en.wikipedia.org/wiki/Nothing_in_Biology_Makes_Sense_Except_in_the_Light_of_Evolution">Dobzhansky</a>.</p>
    </div>
  </div>
