---
layout: default
title: The Van Doorslaer lab at the University of Arizona
redirect_from:
  - http://vandoorslaer.cals.arizona.edu
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
      <h3> The Animal Papillomavirus Reference Center</h3>
      <p>In a 2010 <a href="http://www.sciencedirect.com/science/article/pii/S0042682210001005?via%3Dihub">paper</a> Bernard and Colleagues  described the need for an animal papillomavirus reference center.<br />
The human papillomavirus reference center was started at the German Cancer Research Center in Heidelberg under the leadership of E.M. de Villiers. It has since been transferred to the Karolinska Institutet under the leadership of Dr. Joakim Dillner. The human Papillomavirus reference center has been been critical maintaining a unique, and consistent nomenclature.<br />
With this in mind, <a href="http:/www.vandoorslaer.info">Dr. Van Doorslaer</a> (University of Arizona) and Dr. Dillner (Karolinska Institutet) established the animal papillomavirus reference center. As described in our recent <a href="https://www.mdpi.com/1999-4915/11/1/55">publication</a>, the reference center has the following goals<br/>
&emsp; &emsp; (i) Streamline the curation of non-human PVs,<br />
&emsp; &emsp; (ii) Establish a repository for all characterized non-human PVs<br />
&emsp; &emsp; (iii) Streamline non-human papillomavirus nomenclature<br />
<br />
To ensure a consistent animal papillomavirus nomenclature, this repository will implement a system where, prior to publication of a novel animal PV, an “official name” will be designated.<br />
<br />
Practically, prior to publication, researchers should <b> contact Dr. Van Doorslaer (<a href="mailto:vandoorslaer@email.arizona.edu">Email</a>) </b>. We ask that researchers submit complete genome sequence information, associated metadata, and -if possible- cloned viral genomes to the Animal papillomavirus reference center. If the isolate is found to represent a novel virus, an official viral name will be assigned.<br />
<br />
We request that reviewers and journal editors help support this endeavour by requiring proper naming of animal papillomavirus isolates.<br />
</p>
    </div>
  </div>
