---
layout: default
title: The Van Doorslaer lab @ the University of Arizona
---

<body>
<div id="wrap">
  <div id="masthead">
    <h1>{{page.title}}</h1>
  </div>
  <div id="menucontainer">
    {% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
    
      <table style="width:100%;">
<tr>
    <td>
        <h3 style="text-align:left;">Koenraad Van Doorslaer, PhD.</h3>
    </td>
    <td style="text-align:right;">
<a href="resume-online.pdf" download><img border=""0 alt="print" class="normal" src="/images/print.png" width="30" height="30"/></a>

    </td>
</tr>
</table>
      <h4>Current and Recent Positions</h4>

      <dl>
		<dt>2016 - Present</dt>
        <dd><b>Assistant Professor</b> <br> School of Animal and Comparative Biomedical Sciences <br>College of Agriculture and Life Sciences <br>University of Arizona<br>Tucson, AZ, USA </dd>
		<dt>2016 - Present</dt>        
        <dd><b>Assistant Professor</b> <br> BIO5 institute <br> University of Arizona<br> Tucson, AZ, USA </dd>
		<dt>2016 - 2016</dt>
        <dd><b>Research Fellow</b><br> Lab of Viral Diseases/NIAID/NIH <br> Bethesda, MD, USA <br> Dr. A.A. McBride </dd>
        <dt>2011 - 2016</dt>
        <dd><b>Post-doctoral Fellow</b><br> Lab of Viral Diseases/NIAID/NIH <br> Bethesda, MD, USA <br> Dr. A.A. McBride </dd>
		<dt>2005 - 2010</dt>
        <dd><b>Graduate Student</b><br> Albert Einstein College of Medicine <br> Bronx, NY, USA <br> Dr. R.D. Burk</dd>
		<dt>2004 - 2005</dt>
        <dd><b>Visiting Scientist</b><br> Graham Brown Cancer center <br> Louisville, Kentucky, USA <br> Drs. A.B. Jenson and S.J. Ghim</dd>
		<dt>2004 - 2005</dt>
        <dd><b>Research Associate</b><br>Laboratory of Clinical and Epidemiological Virology<br>Catholic University Leuven, Belgium <br> Dr. M. Van Ranst</dd> 
 	  </dl>
	  
	
<div class="page-break">
      <h4>Education</h4>

      <dl> 
        <dt>2011</dt>
        <dd><b>PhD</b> in Biomedical Sciences <br>
               Albert Einstein College of Medicine <br>
               Thesis: &quot;The evolution of papillomaviral carcinogenicity&quot;<br>
               Dr. R.D. Burk</dd> 
        <dt>2007</dt>
        <dd><b>MS</b> in Biomedical Sciences <br>
               Albert Einstein College of Medicine <br>
               Dr. R.D. Burk</dd>               
        <dt>2004</dt>
        <dd><b>MS</b> in Biomedical Sciences<br>
			   Catholic University Leuven <br>
               Thesis: &quot;Genetic characterisation of the Procyon lotor papillomavirus type 1&quot;<br>
			   Graduated Magna cum Laude<br>
			   Dr. M. Van Ranst <br> </dd> 
        <dt>2002</dt>
        <dd><b>BS</b> in Biomedical Sciences <br>
               Catholic University Leuven</dd> 



        </dl>


      <h4>Courses and Workshops</h4>

      <dl> 
        <dt>2014</dt>
        <dd>NIH FAES Next Generation Sequencing analysis <br> National Institutes of Health, Bethesda, MD, USA</dd>
        <dt>2009</dt>
        <dd>Workshop on Molecular Evolution <br> Marine Biology Laboratories, Woodshole, MA, USA</dd> 
        <dt>2004</dt>
        <dd>Computational Genomics workshop <br> Charles University Prague, the Czech Republic</dd> 
        </dl>

</div>
<div class="page-break">


	<h4>Mentoring</h4>

	<h5><i>Graduate students</i></h5>  
		<b><name>Name of Student</name>
		<function>Current Position</function></b>
		<br>
		<name>Ariana Harari, PhD</name><function>Scientific Associate at IMsci</function>
<br><br>
	  
      <h4>Professional Memberships, Fellowships and Honors</h4>
	  <ul>
      <li>Recipient of 2014 Travel Award to attend the 3rd ASM Conference on Viral Manipulation of Nuclear Processes</li>
      <li>Member of the International Committee for the Nomenclature of Viruses (ICTV) papillomavirus study group</li>
      <li>Recipient of 2010 &quot;student service award&quot;, Albert Einstein College of Medicine</li>
      <li>Recipient of 2009 International Papillomavirus Society travel grant</li>
      <li>Recipient of 2007 International Papillomavirus Society travel grant</li>
      <li>Recipient of 2006 International Papillomavirus Society travel grant</li>
      <li>Fellow of the Belgian American Educational Foundation (BAEF)</li>
      </ul>
</div>
<div class="page-break">
      <h4>Publications</h4> 
      <h5><i>Peer reviewed Articles and Reviews </i></h5> 
      <h5>		h-index: 19</h5>


        <ol>  
	  <li><b>The Papillomavirus Episteme: a major update to the papillomavirus sequence database.</b> <b><u>Van Doorslaer K</u></b>, Li Z, Xirasagar S, Maes P, Kaminsky D, Liou D, Sun Q, Kaur R, Huyen Y, McBride AA. <i> In press at <b>Nucleic Acids Res.</b></i>
	  <li><b>Detection and genotyping of Alpha Human Papillomaviruses from archival formalin fixed tissue samples</b>.  <b><u>Van Doorslaer K</u></b>, Chen Z, and McBride AA. <i> In press at <b>Current Protocols in Microbiology.</b></i>
	  <li><b>Molecular archeological evidence in support of the repeated loss of a papillomavirus gene</b>.  <b><u>Van Doorslaer K</u></b> and McBride AA. <b>Sci Rep.</b> 2016 Sep 8;6:33028. doi: 10.1038/srep33028. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=27604338">Pubmed</a></li>
	  <li><b>The Ancient Evolutionary History of Polyomaviruses</b>. Buck CB, <b><u>Van Doorslaer K</u></b>, Peretti A, An P, Katz J, Pipas J, McBride AA, Camus A, McDermott A, Dill J, Delwart E, Ng TFN, Farkas K, Austin C, Kraberger S, Davison W, Pastrana D and Varsani A. <b>PLoS Pathog. </b> 2016 Apr 19;12(4):e1005574. doi: 10.1371/journal.ppat.1005574. eCollection 2016 Apr. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=27093155">Pubmed</a></li>     
      <li><b>Papillomavirus Evolution Driven by the Host Restriction Factor APOBEC3 and DNA Methylation.</b> <b><u>Van Doorslaer K</u></b>,  Warren CJ, Pandey A, Espinosa JM, Dohun P.<b>Virus Evol</b> 2015 1 (1): vev015 DOI: <a target="_blank" href="http://dx.doi.org/10.1093/ve/vev015">Virus evolution</a></li>       
      <li><b>UbSRD: The Ubiquitin Structural Relational Database.</b> Harrison JS, Jacobs TM, Houlihan K, <b><u>Van Doorslaer K</u></b> and Kuhlman B. <b>J Mol Biol.</b> 2015 Sep 18. pii: S0022-2836(15)00522-7. doi: 10.1016/j.jmb.2015.09.011. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=26392143">Pubmed</a></</li>
      <li><b>Degradation of human PDZ-proteins by human Alphapapillomaviruses represents an evolutionary adaptation to a novel cellular niche.</b> <b><u>Van Doorslaer K</u></b>, DeSalle R, Einstein MH and Burk RD. <b>PLoS Pathog.</b> 2015 Jun 18;11(6):e1004980. doi: 10.1371/journal.ppat.1004980. eCollection 2015 Jun. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=26086730">Pubmed</a></li>   
      <li><b>A Proteomic approach to discover and compare interacting partners of Papillomavirus E2 proteins from diverse phylogenetic groups.</b> Jang MK,  Anderson DE, <b><u>Van Doorslaer K</u></b> and McBride AA. <b>Proteomics.</b> 2015 Mar 11. doi: 10.1002/pmic.201400613. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=25758368">Pubmed</a></li>
      <li><b>Evolution of the <i>Papillomaviridae</i>.</b> <b><u>Van Doorslaer K</u></b>. <b>Virology.</b> 2013 Oct;445(1-2):11-20. doi: 10.1016/j.virol.2013.05.012. Epub 2013 Jun 14. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=23769415">Pubmed</a></li>
      <li><b>Condylomatous genital lesions in cynomolgus macaques from Mauritius.</b> Harari A, Wood CE, <b><u>Van Doorslaer K</u></b>, Chen Z, Domaingue MC, Elmore D, Koenig P, Wagner JD, Jennings RN and Burk RD. <b>Toxicol Pathol.</b> 2013 Aug;41(6):893-901. doi: 10.1177/0192623312467521. Epub 2012 Dec 21. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=23262641">Pubmed</a></li>
      <li><b>The Papillomavirus Episteme: a central resource for papillomavirus sequence data and analysis.</b> <b><u>Van Doorslaer K</u></b>, Tan Q, Xirasagar S, Bandaru S, Gopalan V, Mohamoud Y, Huyen Y and McBride AA. <b>Nucleic Acids Res.</b> 2013 Jan;41(Database issue):D571-8. doi: 10.1093/nar/gks984. Epub 2012 Oct 23. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=23093593">Pubmed</a></li>
      <li><b>Association between hTERT activation by HPV E6 proteins and oncogenic risk.</b> <b><u>Van Doorslaer K</u></b> and Burk RD. <b>Virology.</b> 2012 Nov 10;433(1):216-9. doi: 10.1016/j.virol.2012.08.006. Epub 2012 Aug 25. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=22925336">Pubmed</a></li>
      <li><b>Sequence imputation of HPV16 genomes for genetic association studies.</b> Smith B, Chen Z, Reimers L, <b><u>Van Doorslaer K</u></b>, Schiffman M, Desalle R, Herrero R, Yu K, Wacholder S, Wang Tand Burk RD. <b>PLoS One</b>. 2011;6(6):e21375. doi: 10.1371/journal.pone.0021375. Epub 2011 Jun 23. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=21731721">Pubmed</a></li>
      <li><b>Papillomaviruses: evolution, Linnaean taxonomy and current nomenclature.</b> <b><u>Van Doorslaer K</u></b>, Bernard HU, Chen Z, de Villiers EM, zur Hausen H and Burk RD. <b>Trends Microbiol.</b> 2011 Feb;19(2):49-50; author reply 50-1. doi: 10.1016/j.tim.2010.11.004. Epub 2010 Dec 7. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=21144754">Pubmed</a></li>
      <li><b>Evolution of human papillomavirus carcinogenicity.</b> <b><u>Van Doorslaer K</u></b> and Burk RD. <b>Adv Virus Res.</b> 2010;77:41-62. doi: 10.1016/B978-0-12-385034-8.00002-8. Review. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=20951869">Pubmed</a></li>
      <li><b>Degradation of p53 by human Alphapapillomavirus E6 proteins shows a stronger correlation with phylogeny than oncogenicity.</b> Fu L, <b><u>Van Doorslaer K</u></b>, Chen Z, Ristriani T, Masson M, Trav&eacute; G and Burk RD. <b>PLoS One.</b> 2010 Sep 17;5(9). doi:pii: e12816. 10.1371/journal.pone.0012816. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=20862247">Pubmed</a></li>
      <li><b>Overexpression of miR-21 promotes an in vitro metastatic phenotype by targeting the tumor suppressor RHOB.</b> Connolly EC, <b><u>Van Doorslaer K</u></b>, Rogler LE and Rogler CE. <b>Mol Cancer Res.</b> 2010 May;8(5):691-700. doi: 10.1158/1541-7786.MCR-09-0465. Epub 2010 May 11. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=20460403">Pubmed</a></li>
      <li><b>Classification of papillomaviruses (PVs) based on 189 PV types and proposal of taxonomic amendments.</b> Bernard HU, Burk RD, Chen Z, <b><u>Van Doorslaer K</u></b>, zur Hausen H and de Villiers EM. <b>Virology.</b> 2010 May 25;401(1):70-9. doi: 10.1016/j.virol.2010.02.002. Epub 2010 Mar 5. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=20206957">Pubmed</a></li>
      <li><b>Lack of heterogeneity of HPV16 E7 sequence compared with HPV31 and HPV73 may be related to its unique carcinogenic properties.</b> Safaeian M, <b><u>Van Doorslaer K</u></b>, Schiffman M, Chen Z, Rodriguez AC, Herrero R, Hildesheim A and Burk RD. <b>Arch Virol.</b> 2010 Mar;155(3):367-70. doi: 10.1007/s00705-009-0579-2. Epub 2010 Jan 6. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=20049619">Pubmed</a></li>
      <li><b>Genomic diversity and interspecies host infection of alpha12 Macaca fascicularis papillomaviruses (MfPVs).</b> Chen Z, <b><u>Van Doorslaer K</u></b>, DeSalle R, Wood CE, Kaplan JR, Wagner JD and Burk RD. <b>Virology.</b> 2009 Oct 25;393(2):304-10. doi: 10.1016/j.virol.2009.07.012. Epub 2009 Aug 28. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19716580">Pubmed</a></li>
      <li><b>Human papillomaviruses: genetic basis of carcinogenicity.</b> Burk RD, Chen Z and <b><u>Van Doorslaer K</u></b>. <b>Public Health Genomics.</b> 2009;12(5-6):281-90. doi: 10.1159/000214919. Epub 2009 Aug 11. Review. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19684441">Pubmed</a></li>
      <li><b>Serological response to an HPV16 E7 based therapeutic vaccine in women with high-grade cervical dysplasia.</b> <b><u>Van Doorslaer K</u></b>, Reimers LL, Studentsov YY, Einstein MH and Burk RD. <b>Gynecol Oncol.</b> 2010 Feb;116(2):208-12. doi: 10.1016/j.ygyno.2009.05.044. Epub 2009 Jun 24. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19555999">Pubmed</a></li>
      <li><b>Identification of unusual E6 and E7 proteins within avian papillomaviruses: cellular localization, biophysical characterization, and phylogenetic analysis.</b> <b><u>Van Doorslaer K</u></b>, Sidi AO, Zanier K, Rybin V, Deryck&egrave;re F, Rector A, Burk RD, Lienau EK and Van Ranst M, Trav&eacute; G. <b>J Virol.</b> 2009 Sep;83(17):8759-70. doi: 10.1128/JVI.01777-08. Epub 2009 Jun 24. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19553340">Pubmed</a></li>
      <li><b>Macaca fascicularis papillomavirus type 1: a non-human primate betapapillomavirus causing rapidly progressive hand and foot papillomatosis.</b> Joh J, Hopper K, <b><u>Van Doorslaer K</u></b>, Sundberg JP, Jenson AB and Ghim SJ. <b>J Gen Virol.</b> 2009 Apr;90(Pt 4):987-94. doi: 10.1099/vir.0.006544-0. Epub 2009 Mar 4. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19264664">Pubmed</a></li>
      <li><b>A single amino acid substitution in a segment of the CA protein within Gag that has similarity to human immunodeficiency virus type 1 blocks infectivity of a human endogenous retrovirus K provirus in the human genome.</b> Heslin DJ, Murcia P, Arnaud F, <b><u>Van Doorslaer K</u></b>, Palmarini M and Lenz J. <b>J Virol.</b> 2009 Jan;83(2):1105-14. doi: 10.1128/JVI.01439-08. Epub 2008 Nov 12. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=19004950">Pubmed</a></li>
      <li><b>Genomic characterization of two novel reptilian papillomaviruses, Chelonia mydas papillomavirus 1 and Caretta caretta papillomavirus 1.</b> Herbst LH, Lenz J, <b><u>Van Doorslaer K</u></b>, Chen Z, Stacy BA, Wellehan JF Jr, Manire CA and Burk RD. <b>Virology.</b> 2009 Jan 5;383(1):131-5. doi: 10.1016/j.virol.2008.09.022. Epub 2008 Oct 29.<a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=18973915">Pubmed</a></li>
      <li><b>Genomic characterization of novel dolphin papillomaviruses provides indications for recombination within the <i>Papillomaviridae</i>.</b> Rector A, Stevens H, Lacave G, Lemey P, Mostmans S, Salbany A, Vos M, <b><u>Van Doorslaer K</u></b>, Ghim SJ, Rehtanz M, Bossart GD, Jenson AB and Van Ranst M. <b>Virology.</b> 2008 Aug 15;378(1):151-61. doi: 10.1016/j.virol.2008.05.020. Epub 2008 Jun 24. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=18579177">Pubmed</a></li>
      <li><b>Ancient papillomavirus-host co-speciation in <i>Felidae</i>.</b> Rector A, Lemey P, Tachezy R, Mostmans S, Ghim SJ, <b><u>Van Doorslaer K</u></b>, Roelke M, Bush M, Montali RJ, Joslin J, Burk RD, Jenson AB, Sundberg JP, Shapiro B and Van Ranst M. <b>Genome Biol.</b> 2007;8(4):R57. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=17430578">Pubmed</a></li>
      <li><b>Complete genomic characterization of a murine papillomavirus isolated from papillomatous lesions of a European harvest mouse (<i>Micromys minutus</i>).</b> <b><u>Van Doorslaer K</u></b>, Rector A, Jenson AB, Sundberg JP, Van Ranst M and Ghim SJ. <b>J Gen Virol.</b> 2007 May;88(Pt 5):1484-8. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=17412977">Pubmed</a></li>
      <li><b>Genetic characterization of the first chiropteran papillomavirus, isolated from a basosquamous carcinoma in an Egyptian fruit bat: the Rousettus aegyptiacus papillomavirus type 1.</b> Rector A, Mostmans S, <b><u>Van Doorslaer K</u></b>, McKnight CA, Maes RK, Wise AG, Kiupel M and Van Ranst M. <b>Vet Microbiol.</b> 2006 Oct 31;117(2-4):267-75. Epub 2006 Jul 18. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=16854536">Pubmed</a></li>
      <li><b>Genetic characterization of the Capra hircus papillomavirus: a novel close-to-root artiodactyl papillomavirus.</b> <b><u>Van Doorslaer K</u></b>, Rector A, Vos P and Van Ranst M. <b>Virus Res.</b> 2006 Jun;118(1-2):164-9. Epub 2006 Jan 23. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=16430985">Pubmed</a></li>
      <li><b>Isolation and cloning of the raccoon (Procyon lotor) papillomavirus type 1 by using degenerate papillomavirus-specific primers.</b> Rector A, <b><u>Van Doorslaer K</u></b>, Bertelsen M, Barker IK, Olberg RA, Lemey P, Sundberg JP and Van Ranst M. <b>J Gen Virol.</b> 2005 Jul;86(Pt 7):2029-33. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=15958682">Pubmed</a></li>
      <li><b>Isolation and cloning of a papillomavirus from a North American porcupine by using multiply primed rolling-circle amplification: the Erethizon dorsatum papillomavirus type 1.</b> Rector A, Tachezy R, <b><u>Van Doorslaer K</u></b>, MacNamara T, Burk RD, Sundberg JP and Van Ranst M. <b>Virology.</b> 2005 Jan 20;331(2):449-56. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=15629787">Pubmed</a></li>   
        
      
      </ol>

      <h5><i>Book Chapters</i></h5>
      <ol>
      <li><b>Recent developments in the interactions between caveolin and pathogens. </b>Machado FS, Rodriquez NE, Adesse D, Garzoni LR, Esper L, Lisanti MP, Burk RD, Albanese C, <b><u>Van Doorslaer K.</u></b>, Weiss LM, Nagajyothi F, Nosanchuk JD, Wilson ME, Tanowitz HB. 2010.  In <i> Caveolins and caveolae: Role in signaling and Disease mechanisms.</i> Edited by Jasmin JF, Frank PG and Lisanti MP. Landes Bioscience. <a target="_blank" href ="http://www.ncbi.nlm.nih.gov/Pubmed?holding=&cmd=search&term=22411314">Pubmed</a></li>
      <li><b>Replication and Maintenance of Viral Genomes by Association with Host Chromatin. </b><b><u>Van Doorslaer K.</u></b>, Sekhar V, Khan J, McBride AA.  2010. In <i>Small DNA Viruses.</i> Edited by Kevin L. Gaston. Horizon Press.</li>
	  </ol>
      <h5><i>General Public literature</i></h5>
      <ol>
      <li><b>PaVE; the papillomavirus episteme, </b>McBride AA and <b><u>Van Doorslaer K</u></b>,  <a target="_blank" href ="http:www.hpvtoday.com">HPV today (number 26).</a></li>
	  </ol>
</div>
	  <h5><i>Invited Lectures</i></h5>      
      <ol>
     	<li>University of Arizona, Tucson, AZ, USA, 2016.</li> 
	<li>Plenary talk at 30th International Papillomavirus Conference, Lisbon, Portugal, 2015.</li>
      <li>"Taxonomy workshop" at 30th International Papillomavirus Conference, Lisbon, Portugal, 2015.</li>
	  <li>University of Western Ontario, Ontario, Canada, 2015</li>
	  <li>Comparative Biomedical Science Day symposium, National Institutes of Health, Bethesda, MD, USA, 2014.</li>
	  <li>Octet User meeting, Bethesda, MD, USA, 2013.</li>
	  <li>"PaVE Breakfast session" at 28th International Papillomavirus Conference, San Juan, Puerto Rico, 2012.</li>
	  <li>Ecole Sup&eacute;rieure de Biotechnologies de Strasbourg, Strasbourg, France, 2009.</li>
	  <li>Presentation at Microbial Evolution & Genomics NYC Area Symposium, 2008.</li>
      </ol>
      
      <h5><i>Abstracts submitted to (international) conferences</i></h5>
      <ol> 
      (*) Oral presentation   
	<li><b>Viral transcriptional enhancer is required for optimal persistence of an oncogenic papillomavirus genome., </b><b><u>Van Doorslaer K</u></b>, Chapman S, Khan J, McBride AA., DNA Tumor Virus Meeting , Montreal, Canada, 2016*.</li>	
	<li><b>Molecular archeological evidence in support of the repeated loss of a papillomavirus gene., </b><b><u>Van Doorslaer K</u></b>, McBride AA., DNA Tumor Virus Meeting , Montreal, Canada, 2016*.</li>
    <li><b>HPV genotypes in genital dysplasia and carcinoma in GATA2 deficiency.,</b> Pichard DC, <b><u>Van Doorslaer K</b></u>, McBride AA, Zerbe CS, Stratton P, Holland SM, Kong HH, Cowen EW., Society for Investigative Dermatology 75thAnnual Meeting, Scottsdale, AZ, USA, 2016.</li>	
	<li><b>Optimal persistence of an oncogenic papillomavirus genome requires the viral transcriptional enhancer., </b><b><u>Van Doorslaer K</u></b>, Chapman S, Khan J, McBride AA., ICGEB DNA tumour virus meeting, Trieste, Italy, 2015*.</li>
	<li><b>Roles of APOBEC3 Cytidine Deaminases on Papillomavirus Restriction and Evolution., </b>Warren CJ, Xu T, <b><u>Van Doorslaer K</u></b>, Westrich JA, Guo K, Griffin LM, Lee D, Lambert PF, Santiago ML, Pyeon D., ICGEB DNA tumour virus meeting, Trieste, Italy, 2015.</li>
	<li><b>The Ancient Evolutionary History of Polyomaviruses., </b>Buck C, Peretti A, An P, Katz J, Pipas J, <b><u>Van Doorslaer K</u></b>, McBride AA, Camus A, McDermott A, Delwart E, Ng T, Farkas K, Austin C, Kraberger S, Davison W, Pastrana D., ICGEB DNA tumour virus meeting, Trieste, Italy, 2015.</li>
	<li><b>Fish Papillomaviruses., </b><b><u>Van Doorslaer K</u></b>, Peretti A, McBride AA, Pastrana DV, Buck CB., ICGEB DNA tumour virus meeting, Trieste, Italy, 2015*.</li>
	<li><b>UBSRD: The Ubiquitin Structural Relational Database., </b>Harrison JS, Houlihan K, Jacobs TM, <b><u>Van Doorslaer K</u></b>, Kuhlman B., RosettaCon 2014, Leavenworth, USA, 2014.</li>
	<li><b>Degradation of human PDZ-proteins by human Alphapapillomaviruses represents an evolutionary adaptation., </b><b><u>Van Doorslaer K</u></b>, DeSalle R, Burk RD., 29th International Papillomavirus conference, Seattle, USA, 2014*.</li>
	<li><b>Use of a complementation assay to determine the minimal requirements for long-term maintenance of a High-Risk papillomavirus genome., </b><b><u>Van Doorslaer K</u></b>, Khan J, Chapman S, McBride AA., 29th International Papillomavirus conference, Seattle, USA, 2014.</li>
	<li><b>Use of a complementation assay to determine the minimal requirements for long-term maintenance of a High-Risk papillomavirus genome., </b><b><u>Van Doorslaer K</u></b>, Khan J, Chapman S, McBride AA., DNA tumour virus meeting, Madison, WI, USA, 2014*.</li>
	<li><b>Use of a complementation assay to determine the minimal requirements for long-term maintenance of a High-Risk papillomavirus genome., </b><b><u>Van Doorslaer K</u></b>, Khan J, Chapman S, McBride AA., DNA tumour virus meeting, Birmingham, UK, 2013*.</li>
	<li><b>The papillomavirus Episteme (PaVE)., </b><b><u>Van Doorslaer K</u></b>, Tan Q, Xirasagar S, Maes P, Huyen Y, McBride AA., 28th International Papillomavirus Conference, San Juan, Puerto Rico, 2012*. <a target="_blank" href="https://www.youtube.com/watch?v=Ur4RyAXgHjE">YouTube</a></li>
	<li><b>The papillomavirus Episteme (PaVE)., </b><b><u>Van Doorslaer K</u></b>, Tan Q, Xirasagar S, Maes P, Huyen Y, McBride AA., DNA tumour virus meeting, Montreal, Canada, 2012*.</li>
	<li><b>Conservation of a tri-peptide implicated in tethering of viral genomes to host chromosomes., </b><b><u>Van Doorslaer K</u></b>, McBride AA., ICGEB DNA tumour virus meeting, Trieste, Italy, 2011*.</li>
	<li><b>Structural evolution of papillomavirus E6 and E7 oncoproteins., </b>Charbonnier S, <b><u>Van Doorslaer K</u></b>, McEwen A, Ould Sidi A, Zanier K, Muller I, Poussin P, Kohler K, Ramirez J, Vande Pol S, Cavarelli L, Trav&eacute; G., ICGEB DNA tumour virus meeting, Trieste, Italy, 2011.</li>
	<li><b>Activation of the hTERT promoter by alpha HPV E6 proteins is associated with oncogenic risk., </b><b><u>Van Doorslaer K</u></b>, Burk RD., 26th International Papillomavirus Conference and Clinical Workshop, Montreal, Canada, 2010*.</li>
	<li><b>Imputation of HPV16 Complete Genome Sequences and Epidemiological Analysis., </b>Smith B, Reimers L, Chen Z, <b><u>Van Doorslaer K</u></b>, Schiffman M, Herrero R, Burk RD., 26th International Papillomavirus Conference and Clinical Workshop, Montreal, Canada, 2010.</li>
	<li><b>Novel monkey betapapillomavirus associated with hand and foot papillomas., </b>Wood C, Tannehill-Gregg S, Chen Z, <b><u>Van Doorslaer K</u></b>, Cline M, Burk RD., 26th International Papillomavirus Conference and Clinical Workshop, Montreal, Canada, 2010*.</li>
	<li><b>HPV complete genome sequence imputation from partial sequence information., </b>Smith B, Chen Z, <b><u>Van Doorslaer K</u></b>, Schiffman M, Burk RD., 26th International Papillomavirus Conference and Clinical Workshop, Montreal, Canada, 2010.</li>
	<li><b>Characterizations of nine Macaca fascicularis papillomavirus complete genomes., </b><b><u>Van Doorslaer K</u></b>, Chen Z, Wood S, Burk RD., 25th International Papillomavirus Conference and Clinical Workshop, Malmo, Sweden, 2009*.</li>
	<li><b>Evolution of primate alpha papillomaviruses., </b>Chen Z, <b><u>Van Doorslaer K</u></b>, DeSalle R, Wood C, Burk RD., 25th International Papillomavirus Conference and Clinical Workshop, Malmo, Sweden, 2009.</li>
	<li><b>Serological response to an HPV16 E7 Based therapeutic vaccine., </b><b><u>Van Doorslaer K</u></b>, Reimers L, Studentsov YY, Einstein M, Burk RD., 26th International Papillomavirus Conference and Clinical Workshop, Malmo, Sweden, 2009.</li>
	<li><b>Lack of heterogeneity of HPV16-E7 compared with HPV31 and HPV73 E7., </b><b><u>Van Doorslaer K</u></b>, Schiffman M, Rodriguez A, Herrero R, Burk RD., 25th International Papillomavirus Conference and Clinical Workshop, Malmo, Sweden, 2009.</li>
	<li><b>Biochemical and biophysical and phylogenetic characterization of a novel onco-protein E6 derived from Avian Papillomaviruses., </b><b><u>Van Doorslaer K</u></b>, Sidi A, Lienau EK, Rector A, Trav&eacute; G, Burk RD, Van Ranst M., 24th International Papillomavirus Conference and Clinical Workshop, Beijing, China, 2007*.</li>
	<li><b>Degradation of pRb by the HPV E7 proteins could be tightly associated with oncogenicity., </b><b><u>Van Doorslaer K</u></b>, Fu L, Burk RD., 25th International Papillomavirus Conference and Clinical Workshop, Beijing, China, 2007.</li>
	<li><b>Biochemical and biophysical characterisation of the N-terminal domain of HPV16 E6 and a novel oncoprotein E6 from the Avian Papillomaviruses., </b>Sidi A, Zanier K, Charbonnier S, Van Ranst M, <b><u>Van Doorslaer K</u></b>, Trav&eacute; G., EMBO meeting, Trieste, Italy, 2007.</li>
	<li><b>Genomic characterization of three novel dolphin papillomaviruses provides indications for putative recombination within the Papillomaviridae., </b>Rector A, Rehtanz M, Lacave G, Mostmans S, Salbany A, Stevens H, <b><u>Van Doorslaer K</u></b>, Ghim SJ, Bossart GD, Jenson A B, Van Ranst M., 23rd International Papillomavirus Conference and Clinical Workshop, Prague, The Czech Republic, 2006.</li>
	<li><b>Genetic characterization of the Rousettus aegyptiacus papillomavirus type 1, isolated from a basosquamous carcinoma in an Egyptian fruit bat., </b>Rector A, Mostmans S, <b><u>Van Doorslaer K</u></b>, McKnight CA, Maes RK, Wise A G, Kiupel M, Van Ranst M., 23rd International Papillomavirus Conference and Clinical Workshop, Prague, The Czech Republic, 2006.</li>
	<li><b>Genetic characterization of a novel close-to-root papillomavirus in a bottlenose dolphin: Tursiops truncatus papillomavirus type 1 (TtPV-1)., </b>Rector A, Lacave G, Mostmans S, <b><u>Van Doorslaer K</u></b>, Rehtanz M, Salbany A, Ghim SJ, Jenson AB, Van Ranst M., European Association for Aquatic Mammals (EAAM) conference,  Riccione, Italy, 2006.</li>
	<li><b>Genetic characterization of a novel close-to-root papillomavirus in a bottlenose dolphin: Tursiops truncatus papillomavirus type 1 (TtPV-1)., </b>Rector A, Lacave G, Mostmans S, <b><u>Van Doorslaer K</u></b>, Rehtanz M, Salbany A, Ghim SJ, Jenson AB, Van Ranst M., Dolphin Neonatal and Reproduction Symposium, Indianapolis, USA, 2005.</li>	
	<li><b>Genetic Characterization of a Novel Artiodactyl Papillomavirus: The Capra hircus Papillomavirus., </b><b><u>Van Doorslaer K</u></b>, Rector A, Van Ranst M., 22nd International Papillomavirus Conference, Vancouver, Canada, 2005.</li>
	<li><b>Isolation and Cloning of the Raccoon (Procyon lotor) Papillomavirus Type 1 by Using Degenerate Papillomavirus-Specific Primers., </b>Rector A, <b><u>Van Doorslaer K</u></b>, Bertelsen M, Barker IK, Olberg RA, Lemey P, Sundberg JP, Van Ranst M., 22nd International Papillomavirus Conference, Vancouver, Canada, 2005.</li>
	<li><b>Isolation and Cloning of the raccoon (Procyon lotor) Papillomavirus Type 1 by Using Degenerate Papillomavirus-Specific Primers., </b>Rector A, <b><u>Van Doorslaer K</u></b>, Sundberg JP, Bertelsen M, Barker IK, Olberg RA, Van Ranst M., 8th Annual Meeting of the European Society for Clinical Virology, Geneva, Switzerland, 2004.</li>
	<li><b>The genetic characterisation of the Capra hircus papillomavirus, a novel close to root artiodactyl papillomavirus., </b><b><u>Van Doorslaer K</u></b>, Rector A, Van Ranst M., 8th Annual Meeting of the European Society for Clinical Virology, Geneva, Switzerland, 2004.</li>
	<li><b>Genetic characterisation of the Procyon lotor papillomavirus type 1 (PlPV-1) genome., </b><b><u>Van Doorslaer K</u></b>, Rector A, Van Ranst M., 8th MMSRC, Maastricht, The Netherlands, 2004*.</li>
	  </ol>
</div>  

