---
layout: default
title: The Jagger Principle
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>Koenraad Van Doorslaer, PhD</h1>
  </div>
  <div id="menucontainer">
	{% include nav.html %}
  </div>
	{% include sidebar.html %}
    <div id="content">
      	<h3>{{ page.title }}</h3>
		  <ul class="posts">
			  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
    </div>
</div>
