---
layout: default
title: Koenraad Van Doorslaer, PhD
---



<body>
<div id="wrap">
  <div id="masthead">
    <h1>Koenraad Van Doorslaer, PhD</h1>
  </div>
  <div id="menucontainer">
    {% include blog_nav.html %}
  </div>
  <div id="container">
    <div id="sidebar">
      <h3>Follow Me</h3>
        <fieldset>
        <legend>Social</legend>
        <div> <span>
          <label for="txtsearch"> <img class="normal" src="/images/google.png" width="20" height="20" alt="Google Scholar" /> <a target="_blank" href="https://scholar.google.com/citations?user=-4FPw_0AAAAJ&hl=en">Google Scholar</a></label>
          <br>
          <label for="txtsearch"> <img class="normal" src="/images/GitHub.png" width="20" height="20" alt="Github" /> <a target="_blank" href="https://github.com/Van-Doorslaer">GitHub</a></label>
          <br>
          <label for="txtsearch"> <img class="normal" src="/images/researchgate.png" width="20" height="20" alt="ResearchGate" />  <a target="_blank" href="http://www.researchgate.net/profile/Koenraad_Doorslaer/publications">ResearchGate</a></label>
          <br>
          <label for="txtsearch"> <img class="normal" src="/images/orcid.png" width="20" height="20" alt="ORCID" />  <a target="_blank" href="http://orcid.org/0000-0002-2985-0733">ORCID</a></label>
          <br>          
          <label for="txtsearch"> <img class="normal" src="/images/SO.png" width="20" height="20" alt="Stackoverflow" />  <a target="_blank" href="http://stackoverflow.com/users/751241/stylize">StackOverflow</a></label>
          <br>
          <label for="txtsearch"> <img class="normal" src="/images/biostar2.logo.png" width="20" height="20" alt="BioStars" />  <a target="_blank" href="https://www.biostars.org/u/591/">BioStars</a></label>
		<br>
          <label for="txtsearch"> <img class="normal" src="/images/twitter.png" width="20" height="20" alt="Twitter" />  <a target="_blank" href="https://twitter.com/the_real_KVD">Twitter</a></label>
          </span> <span>
          </span> </div>
        </fieldset>
        <br><br><br><br>
      <img class="normal" src="/images/logo.png" width="200" height="200" alt="" />
        <fieldset>
        <legend>Links</legend>
        <div> <span>
          <a target="_blank" href="http://pave.niaid.nih.gov/#home">PaVE</a> <br>
          <a target="_blank" href="http://www.niaid.nih.gov/Pages/default.aspx">NIAID</a> <br>
          <a target="_blank" href="http://www.niaid.nih.gov/labsandresources/labs/aboutlabs/lvd/dnatumorvirussection/Pages/mcbride.aspx">McBride Lab</a>
          </span> <span>
          </span> </div>
        </fieldset> 
		<br><br>

    </div>
	<h3>{{ page.title }}</h3>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
  </div>
