<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Van Doorslaer lab</title>
<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/images/logo.png">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta content="Arizona, UA, Bio5, papilloma virus, HPV, pave, HPV database, papillomavirus, human papillomavirus, Van Doorslaer, vandoorslaer, The Jagger Principle, resume, faculty search" name="keywords">
<style>
pic {
    display: block;
    margin: 0 auto;
}
</style>
</head>
<body>
    {{ content }}
  <div id="footer"> <a href="#">homepage</a> | <a href="mailto:vandoorslaer@email.arizona.edu">contact</a> | <a href="http://validator.w3.org/check?uri=referer">html</a> | <a href="http://jigsaw.w3.org/css-validator">css</a> | &copy; 2018 Koenraad Van Doorslaer | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a><br/>
    This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> </div>
</div>
</body>
</html>
